img{
    width: 1510px;
    margin: -10px;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Hind", sans-serif;
   
   
  
}
footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 89PX 39PX;
    margin: -27px;
}
#left{
     /* background-color: red;  */
    width: 60%;
    display: flex;
}
#right{
     /* background-color: yellow;  */
    width: 40%;
    display: flex;
    gap: 30px;
    /* border-left: 2px solid gray; */
}
ul{
     /* background-color: aqua;  */
    list-style-type: none;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
#im{
    inline-size:  20%;
    position: relative;
    top:14px ;
    left: -21px;
}
#soc{
    display: block;
    margin-right:17px ;
    padding:163px 3px 48px 120px ;
    /* justify-content:space-between; */
    /* background-color: rgba(255,255,255,0.2); */
   line-height: 40px;
    width:71% ;
    height: 11%;
    font-size:37px;

}





































